
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <link rel="shortcut icon" type="imagex/png" href="/img/icon.png">
    <title>Playlist | Admin</title>
</head>

<body>
    <nav>
        <ul>
            <li>
                <a href="/"><img src="/img/logoblue.png" alt="Logo da Blue"></a>
            </li>
            <li>
                <a href="/"><i class="bi bi-box-arrow-right"></i></i></a> </i>
            </li>
        </ul>
    </nav>

    <section id="add">
        <h2>Cadastrar uma nova música</h2>

        <form action="/create" method="POST">

            <label for="nome">Nome:</label>
            <input type="text" name="name" id="nome">

            <label for="artista">Artista:</label>
            <input type="text" name="author" id="artista">

            <label for="imagem">Link da Imagem:</label>
            <input type="text" name="linkImagem" id="imagem">

            <label for="audio">Link da Música:</label>
            <input type="text" name="linkMusic" id="audio">

            <button type="submit">Cadastrar</button>

        </form>
    </section>

    <section id="player">
        <h2>Gerenciar músicas</h2>

        <table>
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Artista</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

                <% playlist.forEach((music)=> { %>
                    <tr class="musics">
                        <td><img src="<%= music.linkImagem %>" alt="Imagem da musica"></td>
                        <td>
                            <%= music.name %>
                        </td>
                        <td>
                            <%= music.author %>
                        </td>
                        <td id="actions">
                            <a id="editMusic" href="/getById/<%= music._id %>">Editar</a>
                            <a id="deleteMusic" href="/delete/<%= music._id %>">Apagar</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>

        </table>
    </section>


    <% if (music != null) { %>
        <section class="modal">
            <div id="card">
                <a href="/admin" id="fechar"><i class="bi bi-x-lg"></i></a>
                <h2>Atualizar música</h2>
                <hr>
                <form id="modal" action="/update/<%= music._id %>" method="POST">
                    <label for="nome">Nome:</label>
                    <input type="text" name="name" id="nome" value="<%= music.name %>">
                    <label for="artista">Artista:</label>
                    <input type="text" name="author" id="artista" value="<%= music.author %>">
                    <label for="imagem">Link da Imagem:</label>
                    <input type="text" name="linkImagem" id="imagem" value="<%= music.linkImagem %>">
                    <label for="audio">Link da Música:</label>
                    <input type="text" name="linkMusic" id="audio" value="<%= music.linkMusic %>">
                    <button type="submit">Atualizar</button>
                </form>
            </div>
        </section>
    <% } %>
</body>

</html>